.App {
  text-align: center;
}

#root {
  background: #464646;
  font-family: 'Avenir' !important;
}

.App-logo {
  height: 40px;
}

.App-header {

}

.navbar {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color: #f00;
    padding: 30px 0;
}

.footer {
  height: 100px;
  text-align: center;
  padding: 20px;
  width: 100%;
  color: white;
}

@media only screen and (max-width: 415px) {
  .navbar {
    font-size: 30px;
  }
}
